@model List<Spotify.Api.Client.Models.TopTrackViewModel>

<div class="row">

    @foreach (var album in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-thumbnail" src="@album.AlbumImageSource" alt="@album.AlbumName">
                <div class="card-body">
                    <h5 class="card-title">@album.AlbumName</h5>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var track in album.TrackList)
                    {
                        <li class="list-group-item">@($"{track.TrackNumber}. {track.TrackName} - {track.Duration} min")</li>

                    }
                </ul>
                <div class="card-body">
                    <a href="@album.SpotifyUrl" target="_blank"><i class="fab fa-spotify"></i> Open in spotify</a>
                </div>
            </div>
        </div>
    }

</div>